<div class="welcome-dashboard" ng-controller="RapidUmbracoConverterDashboardController as vm">


    <h1>Hey, {{ vm.UserName }}. </h1>

    <h1>Welcome to the Rapid Umbraco Converter</h1>
    <p>We hope you find the experience of editing your content with Umbraco enjoyable and delightful. If you discover any problems with the site please report them to the support team at <a href="mailto:">support@popularumbracopartner.com</a></p>
    <p>You can put anything here...</p>

    <div>
        <input type="button" value="Display Value" ng-click="vm.BeginConvert()" />

        <p>
            {{ vm.Response }}
        </p>

        <input ng-model="vm.TemplatePath" type="text" value="~/" id="templatePath" />



    </div>
</div>