<!DOCTYPE root[<!ELEMENT altDocumentType ANY>
<!ATTLIST altDocumentType id ID #REQUIRED>
]>
<root id="-1">
  <altDocumentType id="2660" key="f1cb6be1-424a-4126-a560-cee414e1d5f6" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-12-11T20:45:10" updateDate="2018-12-11T20:45:10" nodeName="Waiting" urlName="waiting" path="-1,2660" isDoc="" nodeType="2600" creatorName="Robert Bickers" writerName="Robert Bickers" writerID="0" template="2630" nodeTypeAlias="altDocumentType" isPublished="false">
    <subheading><![CDATA[Here's something for you!]]></subheading>
    <mainHeading><![CDATA[There's something wrong]]></mainHeading>
  </altDocumentType>
</root>