<!DOCTYPE root[<!ELEMENT indexDocumentType ANY>
<!ATTLIST indexDocumentType id ID #REQUIRED>
<!ELEMENT invoiceDocumentType ANY>
<!ATTLIST invoiceDocumentType id ID #REQUIRED>
]>
<root id="-1">
  <invoiceDocumentType id="1264" key="d6655dab-c1a3-48df-a3b0-6ae59545c3b7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-12-11T17:50:51" updateDate="2018-12-11T17:50:51" nodeName="Invoice" urlName="invoice" path="-1,1264" isDoc="" nodeType="1220" creatorName="Robert Bickers" writerName="Robert Bickers" writerID="0" template="1250" nodeTypeAlias="invoiceDocumentType" isPublished="true" />
  <indexDocumentType id="1265" key="8d784368-26ad-41f5-93e0-2262e6107a2a" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-12-11T17:59:17" updateDate="2018-12-11T17:59:18" nodeName="Home" urlName="home" path="-1,1265" isDoc="" nodeType="1217" creatorName="Robert Bickers" writerName="Robert Bickers" writerID="0" template="1247" nodeTypeAlias="indexDocumentType" isPublished="false" />
</root>