<!DOCTYPE root[<!ELEMENT invoiceDocumentType ANY>
<!ATTLIST invoiceDocumentType id ID #REQUIRED>
]>
<root id="-1">
  <invoiceDocumentType id="1264" key="d6655dab-c1a3-48df-a3b0-6ae59545c3b7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-12-11T17:50:51" updateDate="2018-12-11T17:50:51" nodeName="Invoice" urlName="invoice" path="-1,1264" isDoc="" nodeType="1220" creatorName="Robert Bickers" writerName="Robert Bickers" writerID="0" template="1250" nodeTypeAlias="invoiceDocumentType" isPublished="false" />
</root>