@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web;

@{
    Layout = null;

    string path = Url.GetUmbracoApiService<RapidUmbracoConverter.Controllers.ConverterApiController>("BeginConvert");

}

<p>
    @path
</p>